In [ ]:
import pandas as pd
import matplotlib as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential, load_model # type: ignore
from tensorflow.keras.layers import LSTM, Dense # type: ignore
from tensorflow.keras.optimizers import Adam # type: ignore
from tensorflow.keras.callbacks import ModelCheckpoint # type: ignore

In [ ]:
df = pd.read_csv('Data_In.csv')
df.rename(columns = {'company_name' : 'Company'}, inplace = True)

# Print Rows with Null Values
# df[df.isnull().any(axis=1)]

In [ ]:
search_term = 'AMAZON'
factor = 'Company'

# Filter rows where 'Type' is equal to 'Health'
filtered_df = df[df[factor] == search_term]

In [ ]:
# Reshape data into a 1D array
# Scale data to the min and max of the rows i.e 0 -1 range
# Flatten the data once again to a 1D array
# ====================================================================

data = filtered_df['Close'].values.reshape(-1, 1)
scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(data)
data_scaled2 = data_scaled.flatten()

In [ ]:
def create_sequences(data, seq_length):
    sequences, labels = [], []
    
    for i in range(len(data) - seq_length):
        seq = data[i:i + seq_length, 0]
        label = data[i + seq_length, 0]
        sequences.append(seq)
        labels.append(label)
    return np.array(sequences), np.array(labels)

In [ ]:
seq_length = 15
n_samples = len(data_scaled)
sequences, labels = create_sequences(data_scaled, seq_length)
split = int(0.8 * len(sequences))
X_test, y_test = sequences[split:], labels[split:]
X_train, y_train = sequences[:split], labels[:split]

In [49]:
model_lstm = Sequential()
model_lstm.add(LSTM(100, activation='relu', input_shape=(seq_length, 1), return_sequences=True))
model_lstm.add(LSTM(50, activation='relu'))
model_lstm.add(Dense(20))
model_lstm.add(Dense(10))
model_lstm.add(Dense(5))
model_lstm.add(Dense(1))
model_lstm.compile(optimizer=Adam(learning_rate=0.01), loss='mse')

/home/allan/.virtualenvs/DSC/lib/python3.10/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

In [ ]:
# model_lstm.fit(X_train, y_train, epochs=40, batch_size=32, validation_data=(X_test, y_test))
predictions_lstm = model_lstm.predict(X_test)

In [45]:
predictor = load_model('model_lstm.keras')
amazn = predictor.predict(X_test)

/home/allan/.virtualenvs/DSC/lib/python3.10/site-packages/keras/src/saving/saving_lib.py:415: UserWarning: Skipping variable loading for optimizer 'rmsprop', because it has 12 variables whereas the saved optimizer has 22 variables.
  saveable.load_own_variables(weights_store.get(inner_path))

42/42 ━━━━━━━━━━━━━━━━━━━━ 2s 37ms/step

In [46]:
amazn = scaler.inverse_transform(amazn)
amazn_y = scaler.inverse_transform(y_test.reshape(-1, 1))

In [ ]:
predictions__LSTM = scaler.inverse_transform(predictions_lstm)
y_test_actual_LSTM = scaler.inverse_transform(y_test.reshape(-1, 1))

In [48]:
dates_test = df['Date'].iloc[split + seq_length:]
# df_plot_lstm = pd.DataFrame({'Fechas': dates_test, 'Real': y_test_actual_LSTM.flatten(), 'Predict': predictions__LSTM.flatten()})
df_plot_lstm = pd.DataFrame({'Fechas': dates_test[:len(amazn)], 'Real': amazn_y.flatten(), 'Predict': amazn.flatten()})

df_plot_lstm.tail(50)
# df_plot_lstm.to_csv('AMAZON.csv')

          Fechas        Real     Predict
6651  2007-04-24  128.399994  127.138817
6652  2007-04-25  125.169998  126.209953
6653  2007-04-26  126.559998  124.317299
6654  2007-04-27  128.559998  123.405861
6655  2007-04-30  121.389999  123.700485
6656  2007-05-01  119.570000  121.765984
6657  2007-05-02  127.739998  119.398857
6658  2007-05-03  132.710007  120.374908
6659  2007-05-04  133.089996  123.126450
6660  2007-05-07  137.000000  125.545403
6661  2007-05-08  138.070007  128.378647
6662  2007-05-09  138.600006  130.895889
6663  2007-05-10  139.740005  132.810806
6664  2007-05-11  142.710007  134.281357
6665  2007-05-14  142.080002  136.129944
6666  2007-05-15  140.600006  137.303360
6667  2007-05-16  143.559998  137.470322
6668  2007-05-17  142.589996  138.530594
6669  2007-05-18  145.800003  139.038284
6670  2007-05-21  143.199997  140.489182
6671  2007-05-22  142.830002  140.681732
6672  2007-05-23  145.179993  140.391876
6673  2007-05-24  146.130005  140.931595
6674  2007-05-25  143.899994  141.759583
6675  2007-05-29  146.710007  141.668640
6676  2007-05-30  146.740005  142.475388
6677  2007-05-31  147.729996  143.113281
6678  2007-06-01  147.029999  143.830627
6679  2007-06-04  146.320007  144.130371
6680  2007-06-05  146.089996  143.930984
6681  2007-06-06  147.029999  143.527618
6682  2007-06-07  144.839996  143.540268
6683  2007-06-08  146.880005  142.822296
6684  2007-06-11  144.520004  143.021881
6685  2007-06-12  146.880005  142.409927
6686  2007-06-13  147.419998  142.782791
6687  2007-06-14  145.889999  143.377182
6688  2007-06-15  147.479996  143.361832
6689  2007-06-18  148.839996  143.760040
6690  2007-06-19  147.419998  144.690384
6691  2007-06-20  149.970001  144.763153
6692  2007-06-21  154.070007  145.650513
6693  2007-06-22  153.789993  147.865448
6694  2007-06-25  152.119995  149.437561
6695  2007-06-26  153.839996  149.754364
6696  2007-06-27  153.419998  150.249817
6697  2007-06-28  153.410004  150.361176
6698  2007-06-29  153.339996  150.388306
6699  2007-07-02  153.380005  150.421494
6700  2007-07-03  151.940002  150.366943