In [ ]:
import pandas as pd
import matplotlib as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential, load_model # type: ignore
from tensorflow.keras.layers import LSTM, Dense # type: ignore
from tensorflow.keras.optimizers import Adam # type: ignore
from tensorflow.keras.callbacks import ModelCheckpoint # type: ignore

In [ ]:
df = pd.read_csv('Data_In.csv')
df.rename(columns = {'company_name' : 'Company'}, inplace = True)

# Print Rows with Null Values
# df[df.isnull().any(axis=1)]

In [ ]:
search_term = 'AMAZON'
factor = 'Company'

# Filter rows where 'Type' is equal to 'Health'
filtered_df = df[df[factor] == search_term]

In [ ]:
# Reshape data into a 1D array
# Scale data to the min and max of the rows i.e 0 -1 range
# Flatten the data once again to a 1D array
# ====================================================================

data = filtered_df['Close'].values.reshape(-1, 1)
scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(data)
data_scaled2 = data_scaled.flatten()

In [ ]:
def create_sequences(data, seq_length):
    sequences, labels = [], []
    
    for i in range(len(data) - seq_length):
        seq = data[i:i + seq_length, 0]
        label = data[i + seq_length, 0]
        sequences.append(seq)
        labels.append(label)
    return np.array(sequences), np.array(labels)

In [ ]:
seq_length = 15
n_samples = len(data_scaled)
sequences, labels = create_sequences(data_scaled, seq_length)
split = int(0.8 * len(sequences))
X_test, y_test = sequences[split:], labels[split:]
X_train, y_train = sequences[:split], labels[:split]

In [ ]:
model_lstm = Sequential()
model_lstm.add(LSTM(100, activation='relu', input_shape=(seq_length, 1), return_sequences=True))
model_lstm.add(LSTM(50, activation='relu'))
model_lstm.add(Dense(20))
model_lstm.add(Dense(1))
model_lstm.compile(optimizer=Adam(learning_rate=0.001), loss='mse')

In [ ]:
model_lstm.fit(X_train, y_train, epochs=40, batch_size=32, validation_data=(X_test, y_test))

In [99]:
model_lstm.evaluate(X_test, y_test)

42/42 ━━━━━━━━━━━━━━━━━━━━ 1s 21ms/step - loss: 3.3357e-04

0.000445700716227293

In [ ]:
model_lstm.save('model_lstm_3.keras')

In [ ]:
predictor = load_model('model_lstm_3.keras')
amazn = predictor.predict(X_test)

In [ ]:
amazn = scaler.inverse_transform(amazn)
amazn_y = scaler.inverse_transform(y_test.reshape(-1, 1))

In [100]:
dates_test = filtered_df['Date'].iloc[split + seq_length:]
# df_plot_lstm = pd.DataFrame({'Fechas': dates_test, 'Real': y_test_actual_LSTM.flatten(), 'Predict': predictions__LSTM.flatten()})
df_plot_lstm = pd.DataFrame({'Date': dates_test[:len(amazn)], 'Real': amazn_y.flatten(), 'Predict': amazn.flatten()})

df_plot_lstm.tail(50)
# df_plot_lstm.to_csv('AMAZON.csv')

             Date        Real     Predict
31906  2023-10-19  128.399994  128.170685
31907  2023-10-20  125.169998  126.980766
31908  2023-10-23  126.559998  124.868042
31909  2023-10-24  128.559998  124.137123
31910  2023-10-25  121.389999  124.899139
31911  2023-10-26  119.570000  122.400169
31912  2023-10-27  127.739998  119.630264
31913  2023-10-30  132.710007  121.640236
31914  2023-10-31  133.089996  125.954651
31915  2023-11-01  137.000000  129.291306
31916  2023-11-02  138.070007  132.878799
31917  2023-11-03  138.600006  135.448639
31918  2023-11-06  139.740005  136.889603
31919  2023-11-07  142.710007  137.888626
31920  2023-11-08  142.080002  139.643311
31921  2023-11-09  140.600006  140.356049
31922  2023-11-10  143.559998  139.783401
31923  2023-11-13  142.589996  140.539673
31924  2023-11-14  145.800003  140.639404
31925  2023-11-15  143.199997  142.090134
31926  2023-11-16  142.830002  141.836868
31927  2023-11-17  145.179993  141.215973
31928  2023-11-20  146.130005  141.863785
31929  2023-11-21  143.899994  142.870483
31930  2023-11-22  146.710007  142.417343
31931  2023-11-24  146.740005  143.265884
31932  2023-11-27  147.729996  143.933655
31933  2023-11-28  147.029999  144.764832
31934  2023-11-29  146.320007  144.877350
31935  2023-11-30  146.089996  144.435638
31936  2023-12-01  147.029999  143.947617
31937  2023-12-04  144.839996  144.092117
31938  2023-12-05  146.880005  143.194092
31939  2023-12-06  144.520004  143.523682
31940  2023-12-07  146.880005  142.759811
31941  2023-12-08  147.419998  143.326569
31942  2023-12-11  145.889999  144.128967
31943  2023-12-12  147.479996  143.900284
31944  2023-12-13  148.839996  144.375580
31945  2023-12-14  147.419998  145.404587
31946  2023-12-15  149.970001  145.374557
31947  2023-12-18  154.070007  146.419113
31948  2023-12-19  153.789993  149.157562
31949  2023-12-20  152.119995  150.829254
31950  2023-12-21  153.839996  150.721664
31951  2023-12-22  153.419998  151.109070
31952  2023-12-26  153.410004  151.093491
31953  2023-12-27  153.339996  150.956955
31954  2023-12-28  153.380005  150.763977
31955  2023-12-29  151.940002  150.653198